# Project 2 Part 4
**Apply Hypothesis Testing**

Testing
*Christina Brockway*

## Business Problem

- Need a MySQL database on Movies from a subset of IMDB's publicly available dataset.
- Use this database to analyze what makes a movie successul
- Provide recommendations to the staakeholder on how to make a movie successful
- Create 3 senarios with the dataset
      -  Perform statistical testing to get mathematically-supported answers
      -  Report if there is a significance difference between features
          -  If yes, what was the p-value?
          -  which feature earns the most revenue?
      -  Prepare a visualization that supports findings

### Import/Load Data

In [1]:
import os, time, json
import tmdbsimple as tmdb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import missingno as msno
from tqdm.notebook import tqdm_notebook
import plotly.express as px
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import database_exists, create_database
from sklearn.preprocessing import StandardScaler
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy.types import *
import scipy.stats as stats

In [2]:
#Mysql login
with open("/Users/csbro/.secret/mysql.json", "r") as f:
          login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
#create connection with MySQL

#Define database
dbase = 'movies'

# Define your login credentials
username = login["username"]
password = login["password"]

# Create the connection string
connection = f'mysql+pymysql://{username}:{password}@localhost/{dbase}'

# Create the database engine
engine = create_engine(connection)

# Connect to the database
engine = engine.connect()

In [4]:
q="""
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_movies
0           basics
1           genres
2          ratings
3     title_genres
4        tmdb_data

In [7]:
#Display data in SQL
q="""
SELECT * FROM tmdb_data
ORDER BY tconst DESC
LIMIT 100;
"""
pd.read_sql(q, engine)

       tconst     revenue      budget certification
0   tt9894470     23101.0   1000000.0            NR
1   tt9883996   6435260.0  20000000.0
2   tt9877170  11136400.0   7907530.0
3   tt9845398    103047.0         0.0
4   tt9845110    208723.0         0.0            NR
..        ...         ...         ...           ...
95  tt8758086    200046.0         0.0         PG-13
96  tt8753438   2996760.0   7300000.0
97  tt8744094   7141570.0         0.0             R
98  tt8737608   4155490.0         0.0
99  tt8722346  47803200.0  20000000.0             R

[100 rows x 4 columns]

In [9]:
#Combine files with glob

import glob
q= "MovieData/*clean*.csv.gz"
tmdb_glob = sorted(glob.glob(q, recursive=True))
tmdb_glob

['MovieData\\clean_basics.csv.gz',
 'MovieData\\clean_ratings.csv.gz',
 'MovieData\\clean_tmdb.csv.gz']

In [13]:
#Loading all files into dataframe
df_glob = []
for file in tmdb_glob:
    temp_df = pd.read_csv(file)
    df_glob.append(temp_df)
#concat files
df = pd.concat(df_glob)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19437 entries, 0 to 6478
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         19437 non-null  object
 1   primary_title  6479 non-null   object
 2   runtime_mins   6479 non-null   float64
 3   start_year     6478 non-null   float64
 4   avg_rating     6479 non-null   float64
 5   num_votes      6479 non-null   float64
 6   revenue        6479 non-null   float64
 7   budget         6479 non-null   float64
 8   certification  5279 non-null   object
dtypes: float64(6), object(3)
memory usage: 1.5+ MB

In [14]:
df.isna().sum()

tconst               0
primary_title    12958
runtime_mins     12958
start_year       12959
avg_rating       12958
num_votes        12958
revenue          12958
budget           12958
certification    14158
dtype: int64

In [16]:
dfno = df.dropna(subset =['revenue'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19437 entries, 0 to 6478
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         19437 non-null  object
 1   primary_title  6479 non-null   object
 2   runtime_mins   6479 non-null   float64
 3   start_year     6478 non-null   float64
 4   avg_rating     6479 non-null   float64
 5   num_votes      6479 non-null   float64
 6   revenue        6479 non-null   float64
 7   budget         6479 non-null   float64
 8   certification  5279 non-null   object
dtypes: float64(6), object(3)
memory usage: 1.5+ MB

## First Senario:

### Does the MPAA rating of a movie affect how much revenue the movie generates?

**Null Hypothesis:**  There is no significant association between the MPAA rating of a movie and the revenue it generates.

**Alternative Hypothesis:**  The is a significant association between the MPAA rating of a movie and the revenue it generates.

In [6]:
sns.barplot(data=df_drop, x='certification', y='revenue');

NameError: name 'df_drop' is not defined