# Movies Database part 2

In [1]:
import pandas as pd

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists,create_database
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/csbro/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

## Calculate max string lengths for object columns

### Basics

In [3]:
basics_df=pd.read_csv('data/basics-filtered.csv')
basics_df.info()
basics_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

#### Check character length for object columns to design database

In [4]:
ttype_len = basics_df['titleType'].fillna("").map(len).max()
ttype_len

5

In [5]:
ptype_len = basics_df['primaryTitle'].fillna("").map(len).max()
ptype_len

242

In [6]:
otitle_len = basics_df['originalTitle'].fillna("").map(len).max()
otitle_len

242

In [7]:
genre_len = basics_df['genres'].fillna("").map(len).max()
genre_len

29

### Ratings

In [9]:
ratings_df=pd.read_csv('data/ratings-filtered.csv')
ratings_df.info()
ratings_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331492 entries, 0 to 1331491
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1331492 non-null  object
 1   averageRating  1331492 non-null  float64
 2   numVotes       1331492 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1988
1  tt0000002            5.8       265
2  tt0000003            6.5      1849
3  tt0000004            5.5       178
4  tt0000005            6.2      2632

In [9]:
tconstr_len = ratings_df['tconst'].fillna("").map(len).max()
tconstr_len

10

## Movies ERD

![png](data/moviesERD.png)

In [10]:
db_name = 'movies'
conn = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/{db_name}"
engine = create_engine(conn, pool_pre_ping=True)

In [11]:
#Preview names of tables
q ="""
SHOW TABLES;
"""
pd.read_sql(q,engine)

  Tables_in_movies
0           basics
1           genres
2          ratings
3     title_genres

In [12]:
#Check if db exists
if database_exists(conn):
    print("It exists!")
else:
    create_database(conn)
    print('Database created')

It exists!

## Preparing data and Importing

#### Basics tables

In [13]:

q = """
DESCRIBE basics;
"""
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,tconst,char(15),NO,PRI,None,
1,primary_title,varchar(250),YES,,None,
2,start_year,float,YES,,None,
3,runtime_mins,int,YES,,None,
4,created_date,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
5,updated_date,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

#### Checking columns and names

In [14]:
#checking field names
describe['Field'].values

array(['tconst', 'primary_title', 'start_year', 'runtime_mins',
       'created_date', 'updated_date'], dtype=object)

In [15]:
#checking dataframe's columns
basics_df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [16]:
#Drop unused columns
basics_df.drop(columns= ['titleType', 'originalTitle', 'isAdult', 'endYear', 'genres'], 
            inplace = True, axis = 1)
basics_df.columns

Index(['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes'], dtype='object')

In [17]:
#Rename column so names match
rename_basics = {'primaryTitle':'primary_title', 'startYear':'start_year', 'runtimeMinutes':'runtime_mins'}
basics_df = basics_df.rename(rename_basics, axis = 1)
basics_df.head(1)

      tconst   primary_title  start_year  runtime_mins
0  tt0035423  Kate & Leopold      2001.0           118

#### Review Data Types

In [18]:
#Review SQL table data types
describe [['Field', 'Type']]

           Field          Type
0         tconst      char(15)
1  primary_title  varchar(250)
2     start_year         float
3   runtime_mins           int
4   created_date      datetime
5   updated_date      datetime

In [31]:
#Review dataframe data types
basics_df.dtypes

tconst            object
primary_title     object
start_year       float64
runtime_mins       int64
dtype: object

In [32]:
#Load Basics table
basics_df.to_sql("basics", engine, index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423' for key 'basics.PRIMARY'")
[SQL: INSERT INTO basics (tconst, primary_title, start_year, runtime_mins) VALUES (%(tconst)s, %(primary_title)s, %(start_year)s, %(runtime_mins)s)]
[parameters: ({'tconst': 'tt0035423', 'primary_title': 'Kate & Leopold', 'start_year': 2001.0, 'runtime_mins': 118}, {'tconst': 'tt0062336', 'primary_title': 'The Tango of the Widower and Its Distorting Mirror', 'start_year': 2020.0, 'runtime_mins': 70}, {'tconst': 'tt0069049', 'primary_title': 'The Other Side of the Wind', 'start_year': 2018.0, 'runtime_mins': 122}, {'tconst': 'tt0088751', 'primary_title': 'The Naked Monster', 'start_year': 2005.0, 'runtime_mins': 100}, {'tconst': 'tt0096056', 'primary_title': 'Crime and Punishment', 'start_year': 2002.0, 'runtime_mins': 126}, {'tconst': 'tt0100275', 'primary_title': 'The Wandering Soap Opera', 'start_year': 2017.0, 'runtime_mins': 80}, {'tconst': 'tt0103340', 'primary_title': 'Life for Life: Maximilian Kolbe', 'start_year': 2006.0, 'runtime_mins': 90}, {'tconst': 'tt0108549', 'primary_title': 'West from North Goes South', 'start_year': 2004.0, 'runtime_mins': 96}  ... displaying 10 of 86979 total bound parameter sets ...  {'tconst': 'tt9916190', 'primary_title': 'Safeguard', 'start_year': 2020.0, 'runtime_mins': 95}, {'tconst': 'tt9916362', 'primary_title': 'Coven', 'start_year': 2020.0, 'runtime_mins': 92})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [22]:
# Confirm data has been added
q = """
SELECT * FROM basics
LIMIT 5;
"""
pd.read_sql(q,engine)

,tconst,primary_title,start_year,runtime_mins,created_date,updated_date
0,tt0035423,Kate & Leopold,2001.0,118,2023-11-03 21:23:34,2023-11-03 21:23:34
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,2023-11-03 21:23:34,2023-11-03 21:23:34
2,tt0069049,The Other Side of the Wind,2018.0,122,2023-11-03 21:23:34,2023-11-03 21:23:34
3,tt0088751,The Naked Monster,2005.0,100,2023-11-03 21:23:34,2023-11-03 21:23:34
4,tt0096056,Crime and Punishment,2002.0,126,2023-11-03 21:23:34,2023-11-03 21:23:34

In [23]:
basics_df.to_csv(f"MovieData/basics_data.csv.gz", compression = 'gzip', index=False)

#### Ratings Tables

In [24]:

q = """
DESCRIBE ratings;
"""
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,avg_rating,float,YES,,None,
1,num_votes,int,YES,,None,
2,date_created,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
3,date_update,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP
4,tconst,char(15),NO,PRI,None,

#### Checking columns and names

In [25]:
#checking field names
describe['Field'].values

array(['avg_rating', 'num_votes', 'date_created', 'date_update', 'tconst'],
      dtype=object)

In [26]:
ratings_df.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [29]:
## There are no unused columns to drop
#Drop unused columns
#ratings_df.drop(columns= ['cols_to_drop'], 
#            inplace = True, axis = 1)
#ratings_df.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [33]:
#Rename column so names match
rename_ratings = {'averageRating':'avg_rating', 'numVotes':'num_votes'}
ratings_df = ratings_df.rename(rename_ratings, axis = 1)
ratings_df.head(1)

      tconst  avg_rating  num_votes
0  tt0000001         5.7       1988

#### Review datatypes

In [34]:
#Review SQL table data types
describe [['Field', 'Type']]

          Field      Type
0    avg_rating     float
1     num_votes       int
2  date_created  datetime
3   date_update  datetime
4        tconst  char(15)

In [35]:
ratings_df.dtypes

tconst         object
avg_rating    float64
num_votes       int64
dtype: object

In [36]:
#Load ratings table
ratings_df.to_sql("ratings", engine, index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0000001' for key 'ratings.PRIMARY'")
[SQL: INSERT INTO ratings (tconst, avg_rating, num_votes) VALUES (%(tconst)s, %(avg_rating)s, %(num_votes)s)]
[parameters: ({'tconst': 'tt0000001', 'avg_rating': 5.7, 'num_votes': 1988}, {'tconst': 'tt0000002', 'avg_rating': 5.8, 'num_votes': 265}, {'tconst': 'tt0000003', 'avg_rating': 6.5, 'num_votes': 1849}, {'tconst': 'tt0000004', 'avg_rating': 5.5, 'num_votes': 178}, {'tconst': 'tt0000005', 'avg_rating': 6.2, 'num_votes': 2632}, {'tconst': 'tt0000006', 'avg_rating': 5.1, 'num_votes': 182}, {'tconst': 'tt0000007', 'avg_rating': 5.4, 'num_votes': 825}, {'tconst': 'tt0000008', 'avg_rating': 5.4, 'num_votes': 2125}  ... displaying 10 of 1331492 total bound parameter sets ...  {'tconst': 'tt9916840', 'avg_rating': 7.5, 'num_votes': 7}, {'tconst': 'tt9916880', 'avg_rating': 7.0, 'num_votes': 7})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [35]:
ratings_df.to_csv(f"MovieData/ratings_data.csv.gz", compression = 'gzip', index=False)

In [36]:
# Confirm data has been added
q = """
SELECT * FROM ratings
LIMIT 5;
"""
pd.read_sql(q,engine)

      tconst  avg_rating  num_votes
0  tt0035423         6.4      87153
1  tt0062336         6.4        175
2  tt0068865         5.4         74
3  tt0069049         6.7       7754
4  tt0088751         5.2        336

### Genres

In [37]:

q = """
DESCRIBE genres;
"""
describe = pd.read_sql(q, engine)
describe

                    Field    Type Null Key Default Extra
0                 imdb_id    text  YES        None
1                   adult  double  YES        None
2           backdrop_path    text  YES        None
3   belongs_to_collection    text  YES        None
4                  budget  double  YES        None
5                  genres    text  YES        None
6                homepage    text  YES        None
7                      id  double  YES        None
8       original_language    text  YES        None
9          original_title    text  YES        None
10               overview    text  YES        None
11             popularity  double  YES        None
12            poster_path    text  YES        None
13   production_companies    text  YES        None
14   production_countries    text  YES        None
15           release_date    text  YES        None
16                revenue  double  YES        None
17                runtime  double  YES        None
18       spoken_languages    text  YES        None
19                 status    text  YES        None
20                tagline    text  YES        None
21                  title    text  YES        None
22                  video  double  YES        None
23           vote_average  double  YES        None
24             vote_count  double  YES        None
25          certification    text  YES        None

In [38]:
# Confirm data has been added
q = """
SELECT * FROM genres
LIMIT 5;
"""
pd.read_sql(q,engine)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",None,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.320,1237.0,PG-13
1,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,None,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",None,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13
2,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,None,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",None,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.156,32.0,R
3,tt0119004,0.0,/7xrlSPGDO4CDT6IHTctDlkYxTzw.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",None,37857.0,en,Don's Plum,...,6297.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Tonight's Special - Group Therapy,Don's Plum,0.0,5.257,74.0,None
4,tt0120681,0.0,/xo2S7gRwCvWdVqM0Swv37yA2rzw.jpg,None,35000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",None,768.0,en,From Hell,...,74558115.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the legend will survive.,From Hell,0.0,6.684,2595.0,R

### Title_genres

In [39]:

q = """
DESCRIBE title_genres;
"""
describe = pd.read_sql(q, engine)
describe

                    Field    Type Null Key Default Extra
0                 imdb_id    text  YES        None
1                   adult  double  YES        None
2           backdrop_path    text  YES        None
3   belongs_to_collection    text  YES        None
4                  budget  double  YES        None
5                  genres    text  YES        None
6                homepage    text  YES        None
7                      id  double  YES        None
8       original_language    text  YES        None
9          original_title    text  YES        None
10               overview    text  YES        None
11             popularity  double  YES        None
12            poster_path    text  YES        None
13   production_companies    text  YES        None
14   production_countries    text  YES        None
15           release_date    text  YES        None
16                revenue  double  YES        None
17                runtime  double  YES        None
18       spoken_languages    text  YES        None
19                 status    text  YES        None
20                tagline    text  YES        None
21                  title    text  YES        None
22                  video  double  YES        None
23           vote_average  double  YES        None
24             vote_count  double  YES        None
25          certification    text  YES        None

In [40]:
# Confirm data has been added
q = """
SELECT * FROM title_genres
LIMIT 5;
"""
pd.read_sql(q,engine)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",None,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.320,1237.0,PG-13
1,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,None,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",None,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13
2,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,None,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",None,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.156,32.0,R
3,tt0119004,0.0,/7xrlSPGDO4CDT6IHTctDlkYxTzw.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",None,37857.0,en,Don's Plum,...,6297.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Tonight's Special - Group Therapy,Don's Plum,0.0,5.257,74.0,None
4,tt0120681,0.0,/xo2S7gRwCvWdVqM0Swv37yA2rzw.jpg,None,35000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",None,768.0,en,From Hell,...,74558115.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the legend will survive.,From Hell,0.0,6.684,2595.0,R