# Project 2 part 1

*Christina Brockway*

## Business Understanding

- IMDB provides a large dataset with various information about Movies and TV Shows. Using this dataset the stakeholder would like to know what it takes to make a successful movie.

- Task:  

    - produce a MySQL database from the IMDB dataset
    - analyze the dataset to find what makes a movie successful
    - provide recommendations on how to make a movie successful
    - include movies based on following specifications:
        - only movies that were released in the US
        - only movies that were released 2000-2022
        - only full-length movies
        - only fictional genres (exclude documentaries)
    - exclude movies that are missing genre or runtime

The following is the provided dataset provided by IMDB:

https://drive.google.com/drive/folders/1I8FKN3S9acXMNzyXq3lo8n9PjplSPB97

The data dictionary is located:

https://developer.imdb.com/non-commercial-datasets/

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-eh8w{background-color:#F4CCCC;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-jxgv{background-color:#FFF;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-ktyi{background-color:#FFF;text-align:left;vertical-align:top}
.tg .tg-bt62{background-color:#F4CCCC;font-style:italic;font-weight:bold;text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Feature</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">dtype</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Description</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Values</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">titleId</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Tconst, unique identifier of the title</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">ordering</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">integer</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Number unique identifier of rows for a given titleID</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">title</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Localized title</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">region</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-jxgv"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Region for this version of the title</span></td>
    <td class="tg-jxgv"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">language</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">language of the title</span></td>
    <td class="tg-ktyi"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">types</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">array</span></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"> Enumerated set of attributes for this alternative title</span></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Alternative, dvd, festival, video, working, original, display</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">attributes</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">array</span></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Additional terms to describe this alternative title, not enumerated</span></td>
    <td class="tg-ktyi"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">isOriginalTitle</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">boolean</span></td>
    <td class="tg-0lax"></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0: not original title</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1: original title</span></td>
  </tr>
  <tr>
    <td class="tg-bt62" colspan="4"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent">title.asak.tsv.gz</span></td>
  </tr>
</tbody>
</table>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ve90{background-color:#F4CCCC;font-style:italic;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-eh8w{background-color:#F4CCCC;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-jxgv{background-color:#FFF;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-ktyi{background-color:#FFF;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Feature</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">dtype</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Description</span></th>
    <th class="tg-eh8w"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Values</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">tconst</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Tconst, unique identifier of the title</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">titleType</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">type/format of the title</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Movie, short, tvseries, tvepisode, video, etc…</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">primaryTitle</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">More popular title/ title used by filmmakers on promotional materials at release</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">isAdult</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">boolean</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-jxgv"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">0: non-adult  title </span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">1: adult title</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">startYear</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">YYYY</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">The release year of the title/ start year of TVseries</span></td>
    <td class="tg-ktyi"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">endYear</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">YYYY</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">TV Series end year</span></td>
    <td class="tg-ktyi"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">‘\N’ for all other title types</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">runtimeMinutes</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">numeric</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Primary runtime of title in minutes</span></td>
    <td class="tg-ktyi"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">genres</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">String array</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Includes up to 3 genres associated with the title</span></td>
    <td class="tg-ktyi"></td>
  </tr>
  <tr>
    <td class="tg-ve90" colspan="4"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent">title.basics.tsv.gz</span></td>
  </tr>
</tbody>
</table>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ve90{background-color:#F4CCCC;font-style:italic;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-2kiz{background-color:#F4CCCC;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-2kiz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Feature</span></th>
    <th class="tg-2kiz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">dtype</span></th>
    <th class="tg-2kiz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Description</span></th>
    <th class="tg-2kiz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Values</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">tconst</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">string</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Tconst, unique identifier of the title</span></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">averageRating</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">number</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Weighted average of all the individual user ratings</span></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">numVotes</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">number</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Number of votes the title has recieved</span></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-ve90" colspan="4"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent">title.ratings.tsv.gz</span></td>
  </tr>
</tbody>
</table>

From previous research found data is in the following files:

    - title-akas-us-only.csv
    - title.basics.tsv.gz
    - title.ratings.tsv.gz
    
    *Note:  this is a preprocessed version of the dataset*

In [1]:
#Import Libraries/packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_akas=pd.read_csv('data/title-akas-us-only.csv', dtype={'isOriginalTitle': 'object'})
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [3]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         1452564 non-null  object
 5   types            1452564 non-null  object
 6   attributes       1452564 non-null  object
 7   isOriginalTitle  1452564 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

#Load and filter title_basics file

In [4]:
df_basics=pd.read_csv('data/title.basics.tsv', sep='\t', dtype={'isAdult': 'object'})
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10246265 entries, 0 to 10246264
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 703.6+ MB

In [6]:

# Filter the basics table  to include only the US movies
us_titles =df_basics['tconst'].isin(df_akas['titleId'])
df_basics = df_basics[us_titles]
df_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10246126,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10246155,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10246193,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10246216,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10246220,tt9916764,short,38,38,0,2018,\N,\N,Short

In [7]:
#Replace \N with null values
df_basics = df_basics.replace({'\\N':np.nan})

In [8]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear           96598
endYear           1326748
runtimeMinutes     500496
genres              28300
dtype: int64

In [8]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear           96598
endYear           1326748
runtimeMinutes     500496
genres              28300
dtype: int64

In [9]:
#Drop rows that have null in runtimeMinutes
df_basics=df_basics.dropna(subset= ['runtimeMinutes', 'genres','startYear'])
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 846555 entries, 0 to 10246126
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          846555 non-null  object
 1   titleType       846555 non-null  object
 2   primaryTitle    846555 non-null  object
 3   originalTitle   846555 non-null  object
 4   isAdult         846555 non-null  object
 5   startYear       846555 non-null  object
 6   endYear         20792 non-null   object
 7   runtimeMinutes  846555 non-null  object
 8   genres          846555 non-null  object
dtypes: object(9)
memory usage: 64.6+ MB

In [10]:
#Look at value_counts to see types of values
df_basics['titleType'].value_counts()

short           275098
movie           200637
tvEpisode       173613
video           115513
tvSeries         36424
tvMovie          25749
tvSpecial         9317
tvMiniSeries      5962
tvShort           4045
videoGame          197
Name: titleType, dtype: int64

In [11]:
#Select only rows that are movies
df_basics=df_basics.loc[df_basics['titleType']=='movie']
df_basics['titleType'].value_counts()

movie    200637
Name: titleType, dtype: int64

In [12]:
#Change startYear to float
df_basics['startYear'].dtype

dtype('O')

In [13]:
df_basics['startYear'].value_counts()

2019    8101
2018    7864
2017    7811
2016    7409
2015    7233
        ...
1906       2
1899       1
1904       1
1897       1
1894       1
Name: startYear, Length: 128, dtype: int64

In [14]:
#There don't appear to be any string elements
df_basics['startYear']=df_basics['startYear'].astype(float)

In [15]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200637 entries, 8 to 10246031
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          200637 non-null  object
 1   titleType       200637 non-null  object
 2   primaryTitle    200637 non-null  object
 3   originalTitle   200637 non-null  object
 4   isAdult         200637 non-null  object
 5   startYear       200637 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  200637 non-null  object
 8   genres          200637 non-null  object
dtypes: float64(1), object(8)
memory usage: 15.3+ MB

In [16]:
#Filter only movies made between 2000 and 2022
df_basics_2000=df_basics[(df_basics['startYear']>=2000) &(df_basics['startYear']<=2022)]

In [18]:
df_basics_2000['startYear'].value_counts()

2019.0    8101
2018.0    7864
2017.0    7811
2016.0    7409
2015.0    7233
2014.0    7170
2020.0    7031
2013.0    6947
2021.0    6926
2022.0    6692
2012.0    6594
2011.0    6122
2010.0    5585
2009.0    5086
2008.0    4244
2007.0    3608
2006.0    3341
2005.0    2924
2004.0    2535
2003.0    2192
2002.0    2004
2001.0    1932
2000.0    1788
Name: startYear, dtype: int64

In [20]:
#Exclude movies that are documentaries
filter_docs=df_basics_2000['genres'].str.contains('Documentary')

In [21]:
df_basics_2000= df_basics_2000[~filter_docs]

In [24]:
df_basics_2000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86972 entries, 34800 to 10246031
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86972 non-null  object
 1   titleType       86972 non-null  object
 2   primaryTitle    86972 non-null  object
 3   originalTitle   86972 non-null  object
 4   isAdult         86972 non-null  object
 5   startYear       86972 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86972 non-null  object
 8   genres          86972 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [25]:
df_basics_2000.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67485,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86790,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [26]:
#Save the filtered data to CSV in data folder

df_out=('data/movies-filtered.csv')
df_basics_2000.to_csv(df_out, index=True)

#Load and filter title_ratings

In [27]:
df_ratings=pd.read_csv('data/title.ratings.tsv', sep='\t')
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1988
1  tt0000002            5.8       265
2  tt0000003            6.5      1849
3  tt0000004            5.5       178
4  tt0000005            6.2      2632

In [28]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331492 entries, 0 to 1331491
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1331492 non-null  object
 1   averageRating  1331492 non-null  float64
 2   numVotes       1331492 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB

In [29]:
# Filter the ratings table  to include only the movies from the basics file
filtered_titles =df_ratings['tconst'].isin(df_basics_2000['tconst'])
df_ratings = df_ratings[filtered_titles]
df_ratings.head()

          tconst  averageRating  numVotes
17961  tt0035423            6.4     87153
40764  tt0062336            6.4       175
46487  tt0068865            5.4        74
46645  tt0069049            6.7      7754
63640  tt0088751            5.2       336

In [30]:
#Replace \N with nan
df_ratings = df_ratings.replace({'\\N':np.nan})

In [31]:
#check for null values
df_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [32]:
df_ratings.head()

          tconst  averageRating  numVotes
17961  tt0035423            6.4     87153
40764  tt0062336            6.4       175
46487  tt0068865            5.4        74
46645  tt0069049            6.7      7754
63640  tt0088751            5.2       336

In [33]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71904 entries, 17961 to 1331462
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         71904 non-null  object
 1   averageRating  71904 non-null  float64
 2   numVotes       71904 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

In [34]:
#Save the filtered data to CSV in data folder

fp_out=('data/ratings-filtered.csv')
df_ratings.to_csv(fp_out, index=True)